
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    left: 20px;
    bottom: 17px;
  }

  .relative-parent{
    position: relative;
  }


  .find-screen-header-icon-more{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  }
  
  .icon-row__column .find-screen-header-icon-more{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: -5px;
  left: 55px;
  }